In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv('data/train2.csv',index_col=0)
data_test = pd.read_csv('data/test2.csv',index_col=0)

In [3]:
print('Size train',data_train.shape)
print('Size test',data_test.shape)

Size train (76020, 370)
Size test (75818, 369)

In [4]:
print('Class_Labels ',data_train['TARGET'].unique())

Class_Labels  [0 1]

In [6]:
total_ones=data_train['TARGET'].sum()
total_zeros =data_train.shape[0]-total_ones
print('Number of Ones:',total_ones)
print('Number of Zeros:',total_zeros)
print('Is there NaN values? ',data_train.isnull().any().any())
list_cols_no_label = [item for item in data_train.columns.values.tolist() if item!='TARGET']
data_train_no_label = data_train.loc[:,list_cols_no_label]
duplicates = data_train_no_label.duplicated().sum()
print('Number of duplicates :',duplicates)

Number of Ones: 3008
Number of Zeros: 73012
Is there NaN values?  False
Number of duplicates : 4940

In [12]:
data_train_happy=data_train.loc[data_train['TARGET']==0]
print('Size happy:',data_train_happy.shape)
data_train_unhappy=data_train.loc[data_train['TARGET']==1]
print('Size unhappy:',data_train_unhappy.shape)

Size happy: (73012, 370)
Size unhappy: (3008, 370)

In [14]:
data_train_happy_no_label = data_train_happy.loc[:,list_cols_no_label]
duplicates_happy = data_train_happy_no_label.duplicated().sum()
print('Number of duplicates for happy :',duplicates_happy)
data_train_happy_no_label_no_dup = data_train_happy_no_label.drop_duplicates()
print('New size  happy dataframe with no dulicates :',data_train_happy_no_label_no_dup.shape)

Number of duplicates for happy : 4614
New size  happy dataframe with no dulicates : (68398, 369)

In [15]:
data_train_unhappy_no_label = data_train_unhappy.loc[:,list_cols_no_label]
duplicates_unhappy = data_train_unhappy_no_label.duplicated().sum()
print('Number of duplicates for unhappy :',duplicates_unhappy)
data_train_unhappy_no_label_no_dup = data_train_unhappy_no_label.drop_duplicates()
print('New size unhappy dataframe with no dulicates :',data_train_unhappy_no_label_no_dup.shape)

Number of duplicates for unhappy : 193
New size unhappy dataframe with no dulicates : (2815, 369)

In [18]:
s_perc = 0.2
data_train_happy_s = data_train_happy_no_label_no_dup.sample(int(s_perc*data_train_happy_no_label_no_dup.shape[0]),random_state=32)
data_train_unhappy_s = data_train_unhappy_no_label_no_dup.sample(int(s_perc*data_train_unhappy_no_label_no_dup.shape[0]),random_state=21)

In [19]:
print(data_train_happy_s.shape)
print(data_train_unhappy_s.shape)

(13679, 369)
(563, 369)

In [20]:
print('Descriptive Stats columns\n',data_train_happy_s.describe(include='all'))

Descriptive Stats columns
                 var3         var15  imp_ent_var16_ult1  \
count   13679.000000  13679.000000        13679.000000
mean    -1824.855179     33.042255           99.328958
std     42713.214630     12.775376         1922.097794
min   -999999.000000      5.000000            0.000000
25%         2.000000     23.000000            0.000000
50%         2.000000     27.000000            0.000000
75%         2.000000     39.000000            0.000000
max       238.000000    102.000000       135000.000000

       imp_op_var39_comer_ult1  imp_op_var39_comer_ult3  \
count             13679.000000             13679.000000
mean                 75.019955               126.738999
std                 330.023892               561.996136
min                   0.000000                 0.000000
25%                   0.000000                 0.000000
50%                   0.000000                 0.000000
75%                   0.000000                 0.000000
max                8520.060000             21024.810000

       imp_op_var40_comer_ult1  imp_op_var40_comer_ult3  \
count             13679.000000             13679.000000
mean                  2.790963                 5.362622
std                  56.827351               114.875873
min                   0.000000                 0.000000
25%                   0.000000                 0.000000
50%                   0.000000                 0.000000
75%                   0.000000                 0.000000
max                2521.860000              7740.780000

       imp_op_var40_efect_ult1  imp_op_var40_efect_ult3  imp_op_var40_ult1  \
count             13679.000000             13679.000000       13679.000000
mean                  0.778566                 0.831201           3.068023
std                  59.634683                60.761995          81.597150
min                   0.000000                 0.000000           0.000000
25%                   0.000000                 0.000000           0.000000
50%                   0.000000                 0.000000           0.000000
75%                   0.000000                 0.000000           0.000000
max                6600.000000              6600.000000        6600.000000

           ...       saldo_medio_var29_ult3  saldo_medio_var33_hace2  \
count      ...                 13679.000000             13679.000000
mean       ...                     0.501225                18.525435
std        ...                    41.457375               735.471754
min        ...                     0.000000                 0.000000
25%        ...                     0.000000                 0.000000
50%        ...                     0.000000                 0.000000
75%        ...                     0.000000                 0.000000
max        ...                  3490.800000             50003.880000

       saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
count             13679.000000            13679.000000
mean                  4.353121               21.760871
std                 231.011845              840.276591
min                   0.000000                0.000000
25%                   0.000000                0.000000
50%                   0.000000                0.000000
75%                   0.000000                0.000000
max               20385.720000            50232.960000

       saldo_medio_var33_ult3  saldo_medio_var44_hace2  \
count            13679.000000             13679.000000
mean                16.944848                45.930092
std                651.621049              1610.585298
min                  0.000000                 0.000000
25%                  0.000000                 0.000000
50%                  0.000000                 0.000000
75%                  0.000000                 0.000000
max              40207.530000             99130.230000

       saldo_medio_var44_hace3  saldo_medio_var44_ult1  \
count             13679.000000            13679.000000
mean                  2.709224              115.854052
std                 181.239828             4957.115815
min                   0.000000                0.000000
25%                   0.000000                0.000000
50%                   0.000000                0.000000
75%                   0.000000                0.000000
max               18928.590000           397884.300000

       saldo_medio_var44_ult3         var38
count            13679.000000  1.367900e+04
mean                93.499918  1.193903e+05
std               4136.670817  2.107435e+05
min                  0.000000  1.051011e+04
25%                  0.000000  6.681996e+04
50%                  0.000000  1.014832e+05
75%                  0.000000  1.243055e+05
max             397884.300000  1.326862e+07

[8 rows x 369 columns]

In [21]:
print('Descriptive Stats columns\n',data_train_unhappy_s.describe(include='all'))

Descriptive Stats columns
              var3       var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
count  563.000000  563.000000          563.000000               563.000000
mean     2.305506   40.241563           40.923623                79.004174
std      4.813137   12.110049          250.868188               371.104620
min      0.000000   23.000000            0.000000                 0.000000
25%      2.000000   31.000000            0.000000                 0.000000
50%      2.000000   38.000000            0.000000                 0.000000
75%      2.000000   47.000000            0.000000                 0.000000
max    114.000000   90.000000         3000.000000              4600.230000

       imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  \
count               563.000000               563.000000
mean                115.189076                 1.307211
std                 472.390766                19.477509
min                   0.000000                 0.000000
25%                   0.000000                 0.000000
50%                   0.000000                 0.000000
75%                   0.000000                 0.000000
max                6103.830000               383.850000

       imp_op_var40_comer_ult3  imp_op_var40_efect_ult1  \
count               563.000000               563.000000
mean                  2.810249                 3.037300
std                  45.048655                72.067908
min                   0.000000                 0.000000
25%                   0.000000                 0.000000
50%                   0.000000                 0.000000
75%                   0.000000                 0.000000
max                 973.080000              1710.000000

       imp_op_var40_efect_ult3  imp_op_var40_ult1      ...       \
count               563.000000         563.000000      ...
mean                  3.570160           2.943037      ...
std                  73.146418          56.012154      ...
min                   0.000000           0.000000      ...
25%                   0.000000           0.000000      ...
50%                   0.000000           0.000000      ...
75%                   0.000000           0.000000      ...
max                1710.000000        1273.080000      ...

       saldo_medio_var29_ult3  saldo_medio_var33_hace2  \
count                   563.0                    563.0
mean                      0.0                      0.0
std                       0.0                      0.0
min                       0.0                      0.0
25%                       0.0                      0.0
50%                       0.0                      0.0
75%                       0.0                      0.0
max                       0.0                      0.0

       saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
count                    563.0                   563.0
mean                       0.0                     0.0
std                        0.0                     0.0
min                        0.0                     0.0
25%                        0.0                     0.0
50%                        0.0                     0.0
75%                        0.0                     0.0
max                        0.0                     0.0

       saldo_medio_var33_ult3  saldo_medio_var44_hace2  \
count                   563.0                    563.0
mean                      0.0                      0.0
std                       0.0                      0.0
min                       0.0                      0.0
25%                       0.0                      0.0
50%                       0.0                      0.0
75%                       0.0                      0.0
max                       0.0                      0.0

       saldo_medio_var44_hace3  saldo_medio_var44_ult1  \
count                    563.0                   563.0
mean                       0.0                     0.0
std                        0.0                     0.0
min                        0.0                     0.0
25%                        0.0                     0.0
50%                        0.0                     0.0
75%                        0.0                     0.0
max                        0.0                     0.0

       saldo_medio_var44_ult3         var38
count                   563.0  5.630000e+02
mean                      0.0  1.055975e+05
std                       0.0  1.814405e+05
min                       0.0  1.250946e+04
25%                       0.0  5.719696e+04
50%                       0.0  8.541612e+04
75%                       0.0  1.173110e+05
max                       0.0  3.988595e+06

[8 rows x 369 columns]